.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    overflow: scroll;
    color: azure;
    min-height: 100vh;
    background: rgb(0,0,0);
}

.components{
    /*width: 100vw;*/
    padding-top: 50px;
}

button{
    cursor: pointer;
    border: none;
}

button:focus{
    outline: none;
}

.pointer{
    cursor: pointer;
}

