.homeWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: scroll;
    background: darkgoldenrod;
    padding-bottom: 200px;
    /*color: azure;*/
    /*background: rgba(0,0,0,0.9);*/
}



/*
INDIVIDUAL KITCHEN STYLE
*/
.kitchenWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 10px 20px;
    box-shadow: 0 0 5px goldenrod;
}
