/*FOR HOME.JS*/

.homeWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 50px;
}

/*FOR KITCHENREGISTRATION.CSS*/
.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.formWrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 20px;
}

.formWrapper form input{
    height: 2rem;
    margin: 5px 5px 20px 5px;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
}

.formWrapper form button{
    color: azure;
    background: var(--mainColor);
    border-radius: 2px;
    margin: 1px;
    padding: 10px 30px;
}

.kitchenWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    /*border: gold 2px solid;*/
    box-shadow: 0 0 1px darkslategrey;;
    padding: 8px;
}

.kitchenWrapper img{
    object-fit: cover;
    height: 200px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
}

.kitchenWrapper button{
    color: azure;
    background: var(--mainColor);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
}

.kitchenWrapper button:active{
    background: none;
    border: 1px solid  var(--mainColor);
}

.workdays{
    display: flex;
    flex-direction: column;
    /*border: solid 1px goldenrod;*/
    width: 60%;
}

.workdays p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*border: 1px solid red;*/
}



