.navMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navWrapper * {
    /*border: solid blue 1px;*/
}

.navWrapper{
    display: flex;
    flex-wrap: wrap;
    background: var(--mainColor);
    width: 100%;
    overflow: scroll;
}

.navWrapper div *{
    margin: 10px;
    color: white;
    text-decoration: none;
}

.navLeft{
    display: flex;
    width: 50%;
    padding: 2px 20px;
    align-items: center;
}
.navLeft p{
    cursor: pointer;
}

.homeButton{
    border-radius: 25%;
    padding: 10px;
    box-shadow: 0 0 10px #F56E2C;
}

.navRight{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    padding: 2px 20px;
}

.welcomeUser{
    font-weight: bolder;
    cursor: default;
}

.navWrapper > p {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.lowerNav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-width: fit-content;
    background: azure;
    color: var(--mainColor);
    align-self: flex-end;
    border-radius: 2px;
    padding: 10px;
}

.navRight .pointer:active{
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px azure;
}

.homeButton:active{
    border-radius: 5px;
    box-shadow: 0 0 10px azure;
}


.lowerNav p {
    cursor: pointer;
    margin: 5px 15px;
}
