.navMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.navWrapper * {
    /*border: solid blue 1px;*/
}

.navWrapper{
    display: flex;
    flex-wrap: wrap;
    background: var(--mainColor);
    width: 100%;
    overflow: scroll;
}

.navWrapper div *{
    margin: 10px;
    color: white;
    text-decoration: none;
}

.navLeft{
    display: flex;
    width: 50%;
    padding: 10px;
    align-items: center;
}

.navRight{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    padding: 10px;
}

div.navRight:first-child{
    /*margin-right: 10px;*/
}

.welcomeUser{
    font-weight: bolder;
}

.navWrapper select{
    padding: 2px 2px 2px 10px;
    border-radius: 3px;
    background: var(--mainColor);
    border: azure 1px solid;
}

.navWrapper select:focus{
    outline: none;
}

.navWrapper > p {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.lowerNav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    background: azure;
    color: var(--mainColor);
    align-self: flex-end;
    border-radius: 2px;
    padding: 10px;
}

.navRight .pointer:active {
    color: slategray;
}

.lowerNav p {
    cursor: pointer;
}
